*{
	margin: 0;
	padding: 0;
}

.contenedor{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
}
.encabezado{
	background-color: gray;
	color: white;
	padding: 25px;
	/*margin: 5px;*/
	text-align: center;
}
.contenido{
	display: flex;
	flex-direction: space-between;
	flex: 1;
	b
}
.texto1{
	padding: 15px;
	margin: 10px;
	
	border: 1px lightgray;
	flex: 1;
	box-shadow: 5px 5px rgba(100, 50, 120, 0.5);
}
.pie{
	padding: 10px;
	border: 1px;
	background: gray;
}
@media(max-width:500px){
	.contenido{
		flex-direction: column;
	}

}