body{
	background-color: lightgray;
}
table{
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
	caption-side: top;
}
td, th{
	border: 1px solid gray; /*Grau*/
}
table tr:nth-child(odd){
	background-color: white;/*Weiß*/
}
table tr:nth-child(even){
	background-color: lightgreen;/*Hellgrün*/
}
table tr th{ /*Para todos los th que están dentro de tr que están dentro de table*/
	background-color: black;/*Schwarz*/
	color: white;
}
table tr:hover{
	background-color: green;
	color: white;
}